:root {
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

    --text-primary: #212529;
    --button-text-primary: #181b39;
    --button-text-secondary: #323fb1;
    --text-headers: #323fb1;
    --bg-primary: #effafa;
    --bg-secondary: #c3dbee;
    --bg-thirdly: #deedff;
    --button-primary: #3133a1;
    --transition-speed: 400ms;



}

body {
    //background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    //font-family: "Segoe UI", "Open Sans", sans-serif;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    //font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #212529;
}

.contentWrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    //margin-top: 4rem;
    margin: 5rem auto;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1000px;
    line-height: 2em;
}

.container {
    //background: #5283df;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--button-text-primary);

    &:focus {
        outline: dotted 1px blue;
        border: 0;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}